<div class="row">
  <div class="col-md-6">
        <nb-card>
            <nb-card-header>Galeria</nb-card-header>
            <nb-card-body class="fill">
            </nb-card-body>
        </nb-card>
  </div>
  <div class="col-md-6">
        <nb-card>
            <nb-card-header>Editor</nb-card-header>
            <nb-card-body class="fill2">
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-header>MembershipCard</nb-card-header>
            <nb-card-body class="fill3">
            </nb-card-body>
        </nb-card>
  </div>
</div>
